@import '../../layout/styles/colors/colors';

.default-form{
    color: $secondary-color;
}

.form-field-error{
    font-weight: lighter;
    font-size: 13px;
    color: $alert-darker;
    text-align: left;
}