@import '../colors/colors';

@mixin flex-center{
    display: flex; 
    align-items: center;
    justify-content: center;
}

@mixin remove-default-styles{
    outline: none;
    border: none;
    background: none;
}

@mixin positioned-center{
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@mixin danger-el{
    background-color: $danger;
    color: $danger-darker;
    border: 1px solid $danger-darker;
}

@mixin alert-el{
    background-color: $alert;
    color: $alert-darker;
    border: 1px solid $alert-darker;
}

@mixin success-el{
    background-color: $success;
    color: $success-darker;
    border: 1px solid $success-darker;
}