@import '../../layout/styles/mixins/mixins';
@import '../../layout/styles/colors/colors';

.default-warnings{
    @include alert-el;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    
    text-align: left;

    &-content{
        padding: 1em .5em;
    }
    
    .title{
        display: flex;
        align-items: center;
    }

    &-closer{
        @include flex-center;
        padding: 0 .5em;
        min-height: 100%;
        cursor: pointer;
        transition: .5s all ease-out;

        &:hover{
            transition: .5s all ease-in;
        }
    }

    &.errors{
        @include danger-el;

        &-closer{
            border-left: 1px solid $danger-darker;
    
            &:hover{
                color: $light-gray;
                background-color: $danger-darker;
            }
        }
    }

    &.success{
        @include success-el;

        &-closer{
            border-left: 1px solid $success-darker;
    
            &:hover{
                color: $light-gray;
                background-color: $success-darker;
            }
        }
    }

    ul{
        font-weight: 500;
    }
}