@import '../../layout/styles/mixins/mixins';
@import '../../layout/styles/colors/colors';

.modal{

    &-backdrop{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
    }

    &-background{
        position: absolute;
        width: 60%;
        max-height: 80%;
        margin: auto;
        background-color: #FFFF;
        padding: 1em;
        border-radius: 5px;
        z-index: 1;
        @include positioned-center;
    }

    &-header{
        display: flex;
        justify-content: space-between;
        color: black;
        font-weight: 550;
        border-bottom: .5px solid $ligh-gray;
        padding-bottom: 1em;
        
        svg{
            color: #b2b2b2;
        }
    }

    &-content{
        margin: 1em 0;
        max-height: calc(100vh - 250px);
        overflow-y: auto;
    }
    
}