@import '../../layout/styles/mixins/mixins';

.default-select{
    margin-top: 5px;
    text-align: left;
    width: 100%;

    &-field{
        @include remove-default-styles;
        border: 1px solid $secondary-color;
        border-radius: 4px;
        display: block;

        &:focus-within {
            border-color: $primary-color;
            transition: .5s all ease;
        }
    }
}

