$primary-color: #00B0FF;
$secondary-color: #00294A;
$light-gray: #d6d6d6;

$danger: #ffbaba;
$danger-darker: #a00303;

$alert: #f7d28f;
$alert-darker: #543a07;

$success: #68f2a8;
$success-darker: #0b3f23;