.default-checkbox{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    width: 100%;
    margin: 1em 0 0 0;
    padding: 0;

    &-box{
        padding: 0;
        max-width: 15px;
        margin-right: 5px;
    }
}