.user-register-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 99%;
    min-height: 100%;

    .passwords, .academics{
        display: flex;
        width: 100%;

        span:first-child{
            margin-right: 5px;
        }

        @media screen and (max-width: 600px) {

            flex-direction: column;

            span:first-child{
                margin-right: 0;
            }
        }

    }

    input, select {
        width: 100%;
    }

    .submit-button.default-button{
        margin-top: 1em;
    }

}
